.profile__image-wrp{
  margin: 5px 0 5px 0;
  padding: 10px;
  border: 1px solid #dbe0e6;
  -webkit-border-radius: 12px;
  border-radius: 12px;
  text-align: center;
}

.profile__image-name{
  margin: 10px 0 0 0;
  font-size: 14px;
  color: #959FAA;
}

.profile__image-img{
  margin: 0 auto!important;
  display: block;
}