$search_dimension: 46px;

.search-form__wrp{
  position: relative;
  height: $search_dimension;
}

.search-form__input{
  display: block;
  width: 100%;
  outline: none;
  border: 2px solid $color__grey__6;
  line-height: $search_dimension;
  height: inherit;
  appearance: none;
  -webkit-appearance: none;
  padding: 0 ($search_dimension + 5px) 0 15px;
}

.search-form__submit{
  position: absolute;
  outline: none;
  width: $search_dimension;
  right: 0;
  top: 0;
  bottom: 0;
  padding: 0;
  border: none;
  margin: 0;
  background: transparent;

  .i{
    fill: $color__grey__5;
  }
}